BODY{
color:#E0E0E0;
background-color:#000000;
font-family:arial;
padding:0px;
margin:0px;
}
A{
color:#FFFFFF;
}
TABLE{
margin:20px;
}
TD{
padding:20px;
}
TD.text{
padding-bottom:60px;
}
IMG{
display:block;
width:100%;
}